# Configuration file for 'backend/app/db_config.py'
# Rename this file to 'backend/db_config.ini' to enable it.

[active]
# Specify which profile to be loaded
profile = profile_name

# All fields are required
[profile_name]
prompt_name = Name to identify this database on connection
dialect = postgresql
driver = psycopg2
username = 
password = 
host = 
port = 5432
database_name = Actual database name
