/* customize */

.flickity-button {
    background: transparent;
    z-index: 2;
}
.flickity-button:hover {
    background: gray;
    opacity: 0.8;
}
.flickity-button-icon {
    fill: white;
}

.carousel::before {
    position: absolute;
    top: 0;
    bottom: 30px;
    left: 0;
    width: 4rem;
    content:"";
    background: linear-gradient(0.25turn, black, hsla(0,0%,100%,0));
    z-index: 1;
}
.carousel::after {
    position: absolute;
    top: 0;
    bottom: 30px;
    right: 0;
    width: 4rem;
    content:"";
    background: linear-gradient(0.75turn, black, hsla(0,0%,100%,0));
    z-index: 1;
}

.carousel-cell {
    overflow: hidden;
}

.carousel-cell * {
    height: 100%;
    width: 100%;
}

.recommand img {
    border-radius: 16px;
}

.champion-skin img {
    position: relative;
    top: -5%;
    left: -5%;
    height: 110%;
    width: 110%;
}


/* skins page */
.skins .carousel::before {
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: 0.9;
}
.skins .carousel::after {
    -webkit-filter: invert(1);
    filter: invert(1);
    opacity: 0.9;
}