/* customize */

.flickity-button {
    background: transparent;
    display: none;
}
@media screen and (max-width: 800px) {
    .flickity-button {
        display: inline-block;;
    }
}
.flickity-button:hover {
    background: transparent;
}
.flickity-button-icon {
    fill: white;
}

.carousel-cell {
    background-color: white;
}

.carousel-cell > img {
    height: 100%;
    width: 100%;
}

.recommand > img {
    border-radius: 16px;
}