/* customize */

.flickity-button {
    background: transparent;
}
.flickity-button:hover {
    background: gray;
    opacity: 0.8;
}
.flickity-button-icon {
    fill: white;
}

.carousel-cell {
    background-color: white;
}

.carousel-cell > img {
    height: 100%;
    width: 100%;
}

.recommand > img {
    border-radius: 16px;
}