.champion-icon {
    border-style: groove;
    border-color: rgb(121, 110, 110);
}

.transition-slide {
    position: fixed;
    bottom: -600px;
    left: 0;
    width: 100%;
    border-radius: 16px;
    padding: 4rem 0 4rem 0;
    background-color: black;
    z-index: 2;
}

.transition-slide.in {
    bottom: -1rem;
    transition: 1s;
}